<%= link_to users_path do %>
  <i class="fa-solid fa-arrow-left-long"></i>
<% end %>
<div class="users-show">
  <%= render "shared/user_card", user: @user %>
  <div class="bio">
    <span>Bio</span>
    <p class="user-bio"><%= @user.bio %></p>
  </div>
  <%= render "shared/posts_list", posts: @user.most_recent_posts, type: 0, clickable: false, user: @user %>
  <% if !@user.posts.empty?%>
    <%= link_to user_posts_path(user_id: @user.id), :action => 'go' do %>
      <button class="more-posts-button">See more</button>
    <% end %>
  <% else %>
    There are no posts available.
  <% end %>
</div>