<%= link_to :back do %>
  <i class="fa-solid fa-arrow-left-long"></i>
<% end %>
<div class="users-show">
  <%= render "shared/user_card", user: @user %>
  <div class="bio">
    <span>Bio</span>
    <p class="user-bio"><%= @user.bio %> </p>
  </div>
  <ul class="posts-list">
    <% @user.most_recent_posts.each_with_index do |post, i| %>
      <li class="recent-post">
        <span class="post-index">Post # <%= i + 1 %></span>
        <%= render "shared/post_preview", post: post %>
      </li>
    <% end %>
  </ul>
  <%= link_to "/users/#{@user.id}/posts", :action => 'go' do %>
    <button class="more-posts-button">See more</button>
  <% end %>
</div>